################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HealthcareMember360/bin
/HealthcareMember360/obj
/HealthcareMember360/.vs
/HealthcareMember360/TestResults
/HealthcareMember360/HealthcareMember360.AddMember.API/obj