################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HealthcareMember360/bin
/HealthcareMember360/obj
/HealthcareMember360/.vs
/HealthcareMember360/TestResults
/HealthcareMember360/HealthcareMember360.AddMember.API/obj
/HealthcareMember360/HealthcareMember360.AddMember.API/bin
/HealthcareMember360/HealthcareMember360.AddMember.API/obj
/HealthcareMember360/HealthcareMember360.AddMember.Test/bin
/HealthcareMember360/HealthcareMember360.AddMember.Test/obj
/HealthcareMember360/HealthcareMember360.API/bin
/HealthcareMember360/HealthcareMember360.API/obj
/HealthcareMember360/HealthcareMember360.Core/bin
/HealthcareMember360/HealthcareMember360.Core/obj
/HealthcareMember360/HealthcareMember360.GetClaims.API/bin
/HealthcareMember360/HealthcareMember360.GetClaims.API/obj
/HealthcareMember360/HealthcareMember360.GetClaims.Test/bin
/HealthcareMember360/HealthcareMember360.GetClaims.Test/obj
/HealthcareMember360/HealthcareMember360.GetMemberPhysician.API/bin
/HealthcareMember360/HealthcareMember360.GetMemberPhysician.API/obj
/HealthcareMember360/HealthcareMember360.MemberDetails.API/bin
/HealthcareMember360/HealthcareMember360.MemberDetails.API/obj
/HealthcareMember360/HealthcareMember360.SubmitClaim.API/bin
/HealthcareMember360/HealthcareMember360.SubmitClaim.API/obj
/HealthcareMember360/HealthcareMember360.UpdateMember.API/bin
/HealthcareMember360/HealthcareMember360.UpdateMember.API/obj
